name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs once a day
  workflow_dispatch:      # lets you run it manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate snake files
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

      - name: Push files to repo
        uses: EndBug/add-and-commit@v9
        with:
          add: "dist"
          message: "Update snake"
